
.navbar-custom{
  font-size: 18px;
  font-style: bold;
  color: black;
  background-color: lightblue;
  box-shadow: inset 0px 0px 10px black;
}

.nav-centered a{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-hover{
  text-decoration: none;
}

.nav-hover:hover {
  background-color: #00e6e6;
}


.nav-trans{
  background-color: lightblue;
}


#navbar {
  z-index: 1;
  background-color: #333;
  position: fixed;
  top: -150px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}
#navbar a {
  z-index: 1;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  z-index: 1;
  background-color: #ddd;
  color: black;
}
.header-custom{
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  box-shadow: inset 0px 300px 700px black;
  background-size: 100% 100%; 
}

.header-custom1{
  padding-top: 20px;
/*  padding-left: 254px;*/
  font-family: 'Tangerine', serif;
 font-size: 65px;
  background: black;
  color: white;
  height: 300px;
}

.header-custom2{
    background-repeat: no-repeat;
  width: 100%;
  margin-top: -10px;
  height: 277px;
    background-size: 100% 100%; 
}

.header-custom3{
    font-family: 'Brush Script MT', serif ;
    padding-top: 65px;
    font-size: 80px;
    padding-left: 20px;
    color:white;
}

.header-custom4{
  background-color: #ccffff;
}

.header-custom5{
    background-repeat: no-repeat;
  width: 100%;
  margin-top: -10px;
  height: 100px;
    background-size: 100% 100%; 
}

.custom-logo{
  width: 50%;
  height: 50%;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}


.button1{
  background-color:#99ffd6;
   border-radius: 10px;
   padding: 10px 20px 12px;
   box-shadow: 8px 8px 5px solid;
}

.custom-set{
  padding-left: 200px;
}

.social-icon{
  padding-top: 460px;
  margin-left: -20px;
}

.footer {
  color: white;
  background-color: #303436;
  margin: 0px auto;
  padding: 20px 0px;
}

.link-custom{
  color: white; 
}
.link-custom:hover {
  color: cyan;
  font-size: 20px;
  text-decoration: none;
}

.des1{
  color: white;
  background-color: lightblue;
  border: 3px solid violet;
  background-size: cover;
}
#firstP{
  font-size: 37px;
  font-style: 7px solid bold;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background:black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}
#sensex-value{
  margin-left: 80px;
  font-weight: 70px;
}
#sensex-up-down{
  margin-left:95px;
  color: green;
  margin-top: -20px;
  font-size: 25px;
}
#heading-chart{
  color: white;
  text-align: center;
  font-weight: 3px;
  text-decoration:underline;
  text-decoration-color: yellow;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}